fastapi
uvicorn
python-multipart
jinja2
flask
flask-cors
langchain
langchain-groq
langchain-community
langchain-huggingface
sentence-transformers
langchain-classic
pypdf
faiss-cpu
python-dotenv
requests
numpy
langchain-text-splitters
torch